body {
    text-align: center;
}

canvas {
    display: block;
    width: 280px;
    width: 800px;
    height: 210px;
    height: 800px;
    margin: auto;
    padding: 0;
    border: none;
    background-color: black;

    border-radius: 15px;
}

button {
    display: block;
    font-size: inherit;
    margin: auto;
    padding: 0.6em;
}
