@font-face {
    font-family: "Audiowide-Regular";
    src: url("../Audiowide-Regular.ttf") format("truetype");
}

#webpreviewlogo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 15;
    width: 32px;
    height: 32px;
}

* {
    background: black;
    color: blue;
    color: gold;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-family: 'Audiowide-Regular';
    margin-top: 1em;
}

.d74g0n_Toolbox {
    position: absolute;
    justify: center;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-size: 34px;
    color: red;
    background: transparent;
}

button:hover {
    background: black;
    color: gold;
    transition: 1s;
}

button {
    background: gold;
    color: red;
    color: black;
    transition: 1s;
}

#wrapper {
    width: 85%;
    word-wrap: break-word;
    height: 80%;
    padding: 4px;
    background: black;
    width: 98%;
    height: 98%;
}

#title {
    font-size: 2em;
    margin-bottom: 1em;
}


#imgfield {
    max-width: 100%;
    height: auto;
    background: transparent;
    border: 1px dotted white;
}

img {
    max-width: 100%;
    height: auto
}

#Process {
    padding: 1em;
}

#BASE64DATA {
    max-width: 800px;
/*    height: 3em;*/
    height: auto;
    font-size: 8px;
    text-overflow: clip;
}
