@font-face {
    font-family: '8bitOperatorPlus-Regular';
    src: url('/common/fonts/8bitOperatorPlus-Regular.ttf');
}

body {
    /*    width:400px;*/
    background: black;
    color: white;
    
}

#signature {
    position: relative;


    width: 300px;
    height: auto;
    margin-top: -50px;
    margin-bottom: -55px;
    filter: invert(1);
    /*    border: 1px solid red;*/
}

.seperator {
    margin: 20px;
}

#game {
    color: purple;
}

#art {
    color: orange;
}

#tool {
    color: blue;
}

.item {
    display: block;
    padding: 22px;
    border: 1px solid white;
    width: 300px;
    font-size: 28px;
    font-family: '8bitOperatorPlus-Regular';
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    background: rgba(10, 10, 10, 0.7);
    color: red;
}

.item:hover {
    background: white;
    color: black;
    transition: 2s;
}

#namebar {}
