.accordion {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #393a50;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 0 auto;
    height: 500px;
    width: 1100px;
	
	/* my hacks */
	position: absolute;
	/* top:3em; */
	top: 24px;
	bottom:0;
	left:0;
	right:0;
	
	
}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: left;
}

.accordion > ul > li {
    background-color: #0f151e;
    margin-right: -800px;
    margin-bottom: -0px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 800px;
    margin-bottom: 0px;
}

.accordion-title,
.accordion-select  {
    background-color: #1c2939;
    color: #ffffff;
    width: 30px;
    height: 500px;
    font-size: 14px;
}

.accordion-title span {
    margin-bottom: 15px; 
    margin-left: 20px;
	
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #121922;
}

.accordion-title span  {	
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-left: 0px;
    line-height: 30px;
	
}

.accordion-content {
    background-color: #253447;
    color: #f5f2f0;
    height: 436px;
    width: 736px;
    padding: 32px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 0px;
    margin-bottom: 0px;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
	
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}

/* -=-=-=-=-=-=---------------------------- */


*{
font-family: "terminal dosis";	
	
}

body {
	background-image: url('/img/bg1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
	/*-=-=-=-=-=-=-= Insert Animations Here For Test Purposes: =-=-=-=-=-=-=-*/


	/*-=-=-=-=-=-=-= Insert Animations Here For Test Purposes: =-=-=-=-=-=-=-*/
}



.listA {


	
	    /* -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6); */
    /* -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6); */
    /* box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6); */
    font-family: Arial, Helvetica, sans-serif;
	
	font-family: 'audiowide';
    border-color: #393a50;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
}


.listA li {
	
display: inline-block;	
display: block;
list-style: none;
background: transparent;	
list-style: none;
	
}

.listA a {
	
display: block;
text-decoration: none;
background: gold;
background: black;

color: black;
color: skyblue;
margin: 2px;
padding: 2px;
	
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	
transition: 2s;
font-family: "anonymous pro";
	
}


.listA a:hover {


font-weight: bolder;
text-shadow: 0px 2px 5px gold, 0px -2px 5px black;

background: #CC8414;
/* text-shadow: 0px 2px 1px #000, 0px -2px 1px #000; */


transition: 1s;


color: white;
color: yellow;
text-decoration: none;

background: orangered;	

display: block;


text-shadow: 0px 4px 4px red, 0px -4px 4px yellow;

border-color: gold;

transition: 0.2s;

	
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;	
	
	
	
}

#altcoins li {
display: inline-block;
float: left;	
}
#altcoins li a {
padding-left: 1em;
padding-right: 1em;
}


h3 {
font-family: 'anonymous pro';	
font-style: italic;
color: skyblue;	
display: inline;
position: top-left-radius;

}


span {

color: gold;	
	
}

.accordion-content h3 {
	font-family: 'VT323';
	
	text-shadow: 0px 2px 5px gold, 0px -2px 5px black;
	
	color: skyblue:
	
	
	
}


	#widgetpanel {
	
		position: absolute;
		top: 0px;
		left: 0px;
		


		
		height: 250px;
		/* height: 100%; */
		/* overflow-x: auto; */
		/* overflow-x: scroll; */
		
		
	}
	
	div .coinmarketcap-currency-widget {
		
		/* width: 300px; */
		width: 33.3%;
		/* float: left; */
		color: white;
		background: black;
		/* height: 200px; */
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
		
		float: left;
		
		width: 50%;
		margin: 0px;
	}

	
	
hr {


background-color: transparent;
border-style: dashed;
border-color: skyblue;
border-color: yellow;
border-bottom: none;
border-left: none;
border-right: none;


}	
	
	
		
	
#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    background-color: #253447;
    color: #f5f2f0;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
	background-color: transparent;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	background-color: gold;
	
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}




/* adding help and advice here */

p {
	
	
}

h1 {
color: white;
font-family: 'Audiowide';
font-size: 18px;	
	
	text-shadow: 0px 2px 5px gold, 0px -2px 5px gold;
}

.notesonit{

font-size: 14px;
font-style: italic;
	
	
}



.cryptlink:hover {
	background: #09B245;
	background: #F4FF00;
	
	color: #F4FF00;
	color: #09B245;
	transition: 1s;
}

.keyexample {
display: block;
background: white;
color: black;
font-style: bolder;

}

.helpme {

color: red;
font-weight: bolder;

	
}

.moon {
color: silver;	
	
}

.about {
color: skyblue;	
}

.prices{
color: lightgreen;	
}

.emd {
color: white;

}

h2 {
color: white;
text-shadow: 0px 2px 5px gold, 0px -2px 5px gold;
/* font-family: 'VT323'; */
font-size: 14px;
font-style: italic;	
}


footer{
position: fixed;
bottom: 0px;
left: 0;
right: 0;
margin: 0;
font-family: 'VT323';
font-size: 8px;
font-style: italic;
color: gold;	

z-index: -2;
	
}

.listB {
list-style: none;	
}


.cryptlink {
	
	display: block;
	color: #F4FF00;
	background: #14CC56;
	background: #09B245;

	width: 80%;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	transition: 1s;
}

/* coins images -=-=-=-=-=- */

.dogeimg {
height: 18px;
width: 18px;
display: inline-block;
float: left;
opacity: 0.5;
}

.btcimg {
height: 18px;
width: 18px;
display: inline-block;
float: left;
opacity: 0.5;
}


/* pricehub shit -=-=-=-=-=- -=-=-=-=-=- */

.pricehub {
position: absolute;
top: 530px;
left: 0;
right: 0;
margin: auto;
padding: auto;
/* margin: 0 center; */
width: 80%;
list-style: none;
	/* display: block; */
	/* background: black; */
}

.pricehub ul {
	/* width: 100%; */
	display: block;
	display: red;
}

.pricehub li {
list-style: none;
/* float: left;	 */
	
	width: 350px;
	width: 290px;
	height: 200px;
	display: inline-block;
}


.pricehub div {
width: 100%;
/* background: green; */
/* display: block; */

	
}


.toplink {
	color: yellow;
	text-decoration: none;
	display: inline;
	
}

#chart-container {
  width: 100%;
  height: 400px;
}

.moonpie {
	color: silver;
	text-decoration: none;

}

.moonpie:hover {
	color: orangered;
	
	
}