

body {
	
background: black;
	
}

hr {
color: skyblue;	
	
}



/* START IVORYWALLET */


.accordion.bluebox {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #393a50;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    margin: 0 auto;
    height: 400px;
    width: 864px;
}

.accordion.bluebox > ul > li,
.bluebox .accordion-title,
.bluebox .accordion-content,
.bluebox .accordion-separator {
    float: left;
}

.accordion.bluebox > ul > li {
    background-color: #0f151e;
    margin-right: -700px;
    margin-bottom: -0px;
}

.bluebox .accordion-select:checked ~ .accordion-separator {
    margin-right: 700px;
    margin-bottom: 0px;
}

.bluebox .accordion-title,
.bluebox .accordion-select  {
    background-color: #1c2939;
    color: #ffffff;
    width: 40px;
    height: 400px;
    font-size: 15px;
}

.bluebox .accordion-title span {
    margin-bottom: 20px; 
    margin-left: 20px;
}

.bluebox .accordion-select:hover ~ .accordion-title,
.bluebox .accordion-select:checked ~ .accordion-title {
    background-color: #121922;
}

.bluebox .accordion-title span  {	
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-left: 0px;
    line-height: 40px;
}

.bluebox .accordion-content {
    background-color: #253447;
    color: #f5f2f0;
    height: 344px;
    width: 644px;
    padding: 28px;
}

.bluebox .accordion-title,
.bluebox .accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}

/* CORE CODE ABOVE */




.listA {

font-family: 'audiowide';
	
	    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #393a50;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
}


.listA li {
	
display: inline-block;	
display: block;
list-style: none;
background: transparent;	
list-style: none;
	
}

.listA a {
	
display: block;
text-decoration: none;
background: gold;
background: black;

color: black;
color: skyblue;
margin: 2px;
padding: 2px;
	
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	
transition: 2s;
	
}

.listA a:hover {
	

	
}


.listA a:hover {


font-weight: bolder;
text-shadow: 0px 2px 5px gold, 0px -2px 5px black;

background: #CC8414;
text-shadow: 0px 2px 1px #000, 0px -2px 1px #000;


transition: 1s;


color: white;
color: yellow;
text-decoration: none;

background: orangered;	

display: block;


text-shadow: 0px 4px 4px red, 0px -4px 4px yellow;

border-color: gold;

transition: 0.2s;

	
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;	
	
	
	
}


h3 {
font-family: 'anonymous pro';	
font-style: italic;
color: skyblue;	
display: inline;
position: top-left-radius;

}


span {

color: gold;	
	
}

.accordion-content h3 {
	
	color: red;
	
}


	#widgetpanel {
	
		position: absolute;
		top: 0px;
		left: 0px;
		


		
		height: 250px;
		/* height: 100%; */
		/* overflow-x: auto; */
		/* overflow-x: scroll; */
		
		
	}
	
	div .coinmarketcap-currency-widget {
		
		width: 300px;
		/* float: left; */
		color: white;
		background: black;
		height: 200px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
		
		float: left;
		
		width: 50%;
	}

	
	
hr {


background-color: transparent;
border-style: dashed;
border-bottom: none;
border-left: none;
border-right: none;


}	
	
	
	
	
	#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    background-color: #253447;
    color: #f5f2f0;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
	background-color: transparent;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	background-color: gold;
	
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}
