    * {
        background: black;
        font-family: 'Audiowide';
        font-family: 'Anonymous Pro';
        font-size: 14px;
    }


    #widgetpanel {
        position: absolute;
        top: 0px;
        left: 0px;
        /* float: left; */
        width: 4000px;
        width: 100%;
        background: transparent;
        height: 250px;
        height: 100%;
        overflow-x: auto;
        overflow-x: scroll;
    }

    div .coinmarketcap-currency-widget {
        width: 300px;
        /* float: left; */
        color: white;
        background: black;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        float: left;
    }
