   body {
       background: black;
   }

   /*   .d74g0nIcon {
       background: transparent;
       position: fixed;
       top: 0px;
       left: 0px;
       margin: 0;
       padding: 0;
       width: 64px;
       height: 64px;
   }*/

   /*
   #dlogo {
       width: 64px;
       height: 64px;
       transition: 1s;
       z-index: 100;
       border-radius: 10px;
       margin-left: -20px;
   }*/

   /*
        #dlogo:hover {
            width: 75px;
            height: 75px;
            background: gold;
            background: rgb(250, 244, 32);
            background: radial-gradient(circle, rgba(250,244,32,1) 0%, rgba(78,65,16,0.19931722689075626) 63%, rgba(0,0,0,0) 95%);
            20%, rgba(0, 0, 0, 0) 52%);
        }
*/

   /*   #dlogo {
       -webkit-filter: drop-shadow(12px 12px 25px rgba(100, 100, 100, 0.9));
       filter: url(#drop-shadow);
       -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#AAA')";
       filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#AAA')";
   }*/

   #frameheader {
       position: fixed;
       display: block;
       padding: 16px;
       background: radial-gradient(circle, rgba(17, 244, 17, 1) 0%, rgba(17, 178, 17, 0.5) 63%, rgba(0, 0, 0, 0) 95%);
       border-radius: 12px;
       border: 1px solid lime;
       z-index: 500;
       background-image: url(https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif);
       background-repeat: repeat;
       background-size: 300px 300px;
       visibility: hidden;
   }

#frameheader:hover {
    padding:18px;
}

   #frame {
       border: 1px solid skyblue;
       border-radius: 6px;
       z-index: 390;
   }

   #frameheader:hover {
       background: radial-gradient(circle, rgba(17, 344, 17, 1) 0%, rgba(17, 170, 17, 1) 63%, rgba(0, 0, 0, 0) 95%);
   }
