
        @keyframes glitchy {
            0% {
                transform: translate(-2px, 2px);
            }

            25% {
                transform: translate(-2px, -2px);
            }

            50% {
                transform: translate(2px, 2px);
            }

            75% {
                transform: translate(2px, -2px);
            }

            100% {
                transform: translate(-2px, 2px);
            }
        }
