@font-face{
 font-family:'digital-clock-font';
 src: url('/DIGITALDREAM.ttf');
}


body {
background: black;	
 font-family:'digital-clock-font';
 src: url('/DIGITALDREAM.ttf');
}


.wrapper {
background: url(/img/tbone.jpg);
height: 585px;
width: 390px;
	border: solid;
	border-size: 2px;
}


#price_usd {
font-family: 'digital-clock-font';
position: absolute;
position: relative;
top: 149px;	
left: 47px;
width: 4.8em;
overflow: hidden;
color: lightgreen;

transform: rotate(-0.05deg);

opacity: 0.8;

   text-shadow: 0 0 2px rgba(0,255,0,0.9);
   
   background: black;
      background: rgba(0,25,0,0.7);
   display: block;
}

#price_stake {
font-family: 'digital-clock-font';

position: relative;
top: 174px;	
left: 47px;
width: 4.8em;
overflow: hidden;
color: lightgreen;
transform: rotate(-1.5deg);


opacity: 0.8;

   text-shadow: 0 0 2px rgba(0,255,0,0.9);
   
   background: black;
   background: rgba(0,25,0,0.7);
   display: block;
}


footer {
position: absolute;
top: 570px;
width: 390px;
display: block;		
background: transparent;
color: lightgreen;
}


#foottop p {
color: lightgreen;
background: -webkit-linear-gradient(bottom, rgba(100,0,100,1) 0%,rgba(255,0,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: rgba(20,80,20,.7);
padding: 0;
margin: 0;
padding-top: 5px;
padding-bottom: 5px;
text-shadow: 1px 1px black;
}

#footbot {
background: rgba(200,2,200,.5);
display: hidden;
}

#footbot span{
display: hidden;
padding-top: 2px;
padding-bottom: 2px;
margin-top: 2px;
margin-bottom: 2px;
}

.netlogo {
float: left;
top: 100px;
height: 150px;
margin-left: 10px;
transition: 1s;
 -webkit-animation: logowonk 11s linear infinite;
    filter: url(#drop-shadow);
	
}


@-webkit-keyframes logowonk{
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  40% { transform: rotate(0deg); }
  
  80% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}s