 @font-face {
     font-family: 'gaming';
     src: url('/common/fonts/PrStart.ttf');
 }

 @font-face {
     font-family: '8bitOperatorPlus-Regular';
     src: url('/common/fonts/8bitOperatorPlus-Regular.ttf');
 }

 @font-face {
     font-family: 'monofonto';
     src: url('/common/fonts/monofonto.ttf');
 }

 body {
     font-family: 'monofonto';
         font-family: '8bitOperatorPlus-Regular';
     text-decoration-color: white;
     text-emphasis-color: gold;
     color: lime;
     background: black;
     background-image: url(https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif);
     background-repeat: repeat;
     background-size: 300px 300px;
     /*     opacity: 0.8;*/
     /*     z-index: 300;*/
 }

 iframe {
     padding: 1em;
 }

 a {
     color: lime;
 }

 a:visited {
     color: darkgreen;
 }

#clip {
    border: 2px solid green;
    padding: 1em;
    width: 80vw;
    border-radius: 15px;
    
}